/* Tags */
h1, h2, h3, h4, h5, h6{
    font-family: 'Open Sans';
}


h1 {
    font-size: 120px;
}


p, ::placeholder {
    font-size: 22px;
    font-family: 'Roboto';
}

input {
    background-color: lavender;
}

button {
    cursor:pointer;
}

/* Modal Style*/
#modal {
    
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;   
}

.modal-content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
    width: 30%;
    height: 80%;
    background: lavender;
    text-align: center;
}


.modal-content form  {
    margin-top: 30px;
    position: relative;
    height: 100%;
}

.area {
    margin: 20px;
}

.pagesDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.modal-content input {
    border: none;
    border-bottom: 2px solid;
    width:80%;
    height:24px;
}

.modal-content h2 {
    text-align: center;
    padding: 20px;
    color: #3e115e ;
 }

.pagesDiv {
    display: flex;
    margin-bottom: 20px;;
    margin: 20px;
}

 .pagesInput {
     width: 125px !important;
     text-align: center !important; 
     margin-left: 10px;
     margin-right: 10px;
     margin-bottom: 20px;
 }

 .pagesInput::placeholder {
     font-size: 16px;
     text-align: center;
 }

#pagesInfoLabel {
    color: #3e115e;
    padding: 10px;
    margin-top: 20px;;
    margin-left: 10px;
}

#statusDiv {
    margin-top: 40px;
}

.modalBtnsDiv {
    display: flex;
    position: absolute;
    left:0px;
    bottom: 0px;
    width:100%;
    height: 15%;
}

.modalBtn{
    width:100%;
    font-size: 20px;

}


#submitNewBookBtn {
    background: #4cbd68;
}

.smiley {
    display:none;
}

.area {
    text-align: center;
}

.far {
    font-size: 120px;
    width: 100%;
    padding: 20px 0px;
}

@media only screen and (max-width: 1600px) {
    .far {
        padding:0px;
        padding-bottom: 20px;
        font-size: 60px;
    }
}

/* Library */

#header {
    position:relative
}
#TitleDiv {
    display:flex;
    height: 200px;
    border-radius: 10px;
    background-color: lavender;
    color: #3e115e;
    align-items: center;
    justify-content: center;


}

#StatisticsDiv {
    position: absolute;
    padding: 30px;
    color: #3e115e;
}

.addBookBtnDiv {
    height: 150px;
    text-align: center;
}

#addBookBtn {
    background-color: lavender;
    color: #3e115e;
    border: none;
    border-radius: 10px;
    padding: 20px;
    font-size: 30px;
    margin-top: 30px;
}

#addBookBtn:hover {
    color:white;
    transform: scale(1.1,1.1);
    transition: 0.3s;
    
}


/* Grid & Books */
.bookGrid {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    
}

.bookDiv {
    margin: 50px;
    border: 4px solid;
    border-radius: 50px;
    overflow: hidden;
    width: 300px;
    height: 400px;
    display: grid;
    grid-template-rows: 20% 30% 20% 10% 20%;
    grid-template-columns: 1fr 50px 1fr;
    grid-template-areas: 
    "topBookButton topBookButton  topBookButton"
    "bookTitle bookTitle  bookTitle"
    "bookAuthor bookAuthor  bookAuthor"
    "pagesRead break pagesTotal"
    "minusButton  finishedButton plusButton";
    background-color: lavender;
}

.topButtonDiv {
    position: flex;
    flex-direction: row;
    grid-area: topBookButton;
    
}

.topBookButton {
    font-size: 20px;

}

.deleteButton {
    width: 50%;
    height: 100%;
    background-color:#974d68;
}

.editButton {
    width:50%;
    height: 100%;
    background-color: #4cbd68;
}

.title {
    grid-area: bookTitle;
    word-wrap: break-word;
    color: #3e115e;
    text-align: center;
    padding: 10px;
}

.bookTitle {
 margin-top: 50px;
 font-size: 40px;
}

.biggerTitle {
    margin-top: 40px;
    font-size: 32px;
}

.biggestTitle {
    font-size: 24px;
    margin-top: 25px;
}

.bookAuthor {
    grid-area: bookAuthor;
    text-align: end;
    margin-top:10px;
    margin-right: 20px;
    font-style: italic;
    font-size: 17px;
}

.pagesCount {
    text-align: center;
    font-size: 25px;
    border-top: 2px solid;
    padding-top: 5px;
}

.pagesRead {
    grid-area: pagesRead;
}

.pagesTotal {
    grid-area: pagesTotal;
}

.botBookButton {
    font-weight: bold;
    font-size: 15px;
}

.minusButton {
    grid-area: minusButton;
    background-color: #974d68;
}

.finishedButton {
    grid-area: finishedButton;
    background-color: lightskyblue;
}

.plusButton {
    grid-area: plusButton;
    background-color: #4cbd68 ;
}

.breakSign {
    grid-area: break;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-top: 2px solid;
}